<<div class="container" _ngcontent-c4="">
    <div class="row" _ngcontent-c4="">
    <div class="col-sm-6 col-md-3" _ngcontent-c4="">
    <h3 _ngcontent-c4="">Classroom Central Resources</h3>
    <ul _ngcontent-c4="">
    <li _ngcontent-c4="">
    <a _ngcontent-c4="" href="https://apps.na.collabserv.com/communities/service/html/communitystart?communityUuid=09eca844-6df8-49c1-855b-d21008e07bb4" target="_blank"> Classroom Central Community </a>
    </li>
    <li _ngcontent-c4="">
    <a _ngcontent-c4="" href="https://superzero.w3ibm.mybluemix.net/" target="_blank"> Classroom Central Help </a>
    </li>
    </ul>
    </div>
    <div class="col-sm-6 col-md-3" _ngcontent-c4="">
    <h3 _ngcontent-c4="">Your Learning Resources</h3>
    <ul _ngcontent-c4="">
    <li _ngcontent-c4="">
    <a _ngcontent-c4="" href="https://w3-connections.ibm.com/communities/service/html/communityview?communityUuid=c5e14451-6188-46d6-934f-3170d908ae23" target="_blank"> Your Learning Community </a>
    </li>
    <li _ngcontent-c4="">
    <a _ngcontent-c4="" href="https://yourlearning.w3bmix.ibm.com/servicecenter/" target="_blank"> Your Learning Service Center </a>
    </li>
    <li _ngcontent-c4="">
    <a _ngcontent-c4="" href="https://learning.atlanta.ibm.com/yl/activity_builder.nsf/pages/app#/newactivity" target="_blank"> Your Learning Plugin </a>
    </li>
    </ul>
    </div>
    <div class="col-sm-6 col-md-3" _ngcontent-c4="">
    <h3 _ngcontent-c4="">Checkpoint Resources</h3>
    <ul _ngcontent-c4="">
    <li _ngcontent-c4="">
    <a _ngcontent-c4="" href="http://checkpoint.w3cloud.ibm.com/" target="_blank"> Introducing Checkpoint </a>
    </li>
    <li _ngcontent-c4="">
    <a _ngcontent-c4="" href="http://learn.atlanta.ibm.com/la/collections/checkpoint/" target="_blank"> Learning Collection </a>
    </li>
    <li _ngcontent-c4="">
    <a _ngcontent-c4="" href="http://w3.ibm.com/hr/web/performance/checkpointtracker" target="_blank"> Checkpoint Tracker </a>
    </li>
    <li _ngcontent-c4="">
    <a _ngcontent-c4="" href="https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/W90186f2fd1ef_44f7_b772_29ad854480e0" target="_blank"> Checkpoint Community </a>
    </li>
    </ul>
    </div>
    <div class="col-sm-6 col-md-3" _ngcontent-c4="">
    <h3 _ngcontent-c4="">THINK40 Resources</h3>
    <ul _ngcontent-c4="">
    <li _ngcontent-c4="">
    <a _ngcontent-c4="" href="https://ilx.atlanta.ibm.com/i_dir/ilxdashboard.nsf/Pages/Entry?OpenDocument&laId=ilx_lc_bookmark-ILXA-9GX255" target="_blank"> THINK40 Handbook </a>
    </li>
    <li _ngcontent-c4="">
    <a _ngcontent-c4="" href="https://university.atlanta.ibm.com/think40prep/" target="_blank"> ThinkPrep </a>
    </li>
    </ul>
    </div>
    </div>
    <p class="admin-terms" _ngcontent-c4="">
    <a _ngcontent-c4="" routerlink="/terms" href="/terms">Terms of use</a>
    <a class="hidden-sm hidden-md" _ngcontent-c4="" href="http://w3.ibm.com/ibm/documents/corpdocweb.nsf/ContentDocsByTitle/Business+Conduct+Guidelines"> Business Conduct Guidelines </a>
    <a class="hidden-sm hidden-md" _ngcontent-c4="" href="http://w3.ibm.com/w3/access-stmt.html"> Accessibility </a>
    <a _ngcontent-c4="" routerlink="/raa" href="/raa">Request Accessibility Assistance</a>
    </p>
    </div>
