<div class="container">
  <!--
  <div class="row">
    <div class="col-xs-12 col-md-10  col-lg-10">

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Tasks</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">View Task</li>
      </ol>

    </div>
  </div>
-->
  <div class="row">
    <div class="col-xs-6 col-md-8 col-lg-9">

      <h3>
        <span class="label info mybadge">Task {{historyArray.taskName}}</span>
        <span class="label"></span>
      </h3>
   
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3"> 
        <div style="float: right;">        
     
     </div>
    </div>


  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <table class="table table-hover">     
        <tbody>
          <tr>
            <td>Task name</td>
            <td>{{historyArray.taskName}}</td>
          </tr>         
          <tr>
            <td>Start date</td>
            <td>{{historyArray.StartDate}}</td>
          </tr> 
          <tr>
            <td>Duration</td>
            <td>{{historyArray.Duration}}</td>
          </tr> 
          <tr>
            <td>Response status</td>
            <td>{{historyArray.ResponseStatus}}</td>
          </tr>      
          <tr>
            <td>Response body</td>
            <td>{{historyArray.ResponseBody}}</td>
          </tr>
          
          <!--
          <tr>
            <td>Status</td>
            <td>{{taskArray.ActiveStatus}}</td>
          </tr>
          
          <tr>
            <td>Do not run at the same time as</td>
            <td></td>
          </tr>
        -->
        </tbody>               
      </table> 
      <hr>    
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12" style="padding:18px;">
        <button type="button" class="btn btn-outline-secondary mybtn" (click)="onBack()">Back</button>    
    </div>
  </div>
</div>