<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-8">
      <h3 class="col-xs-12">History </h3>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="input-group pull-left">
        <input type="search" [(ngModel)]="mySearch" class="form-control" placeholder="search...">
 <!--
        <span class="input-group-btn">
          <button class="btn" type="button" (click)="onSearch()">
           <i class="fa fa-search" aria-hidden="true"></i> 
          </button>
        </span>
-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>
  <div class="form-row">
  
    <div class="col-xs-12 col-md-8">
      <div class="form-inline">
        <div class="form-group">
         <div class ="col-xs-2 col-md-2"> <label for="tasksl">Task:</label></div>
         <div class="col-xs-5 col-md-3">
          <ss-multiselect-dropdown class="dropdown-item.active" style="color:black"[options]="myOptions" [(ngModel)]="optionsModel" [settings]="mySettings" id="tasksl" name="tasksl"></ss-multiselect-dropdown>
        </div>
        </div>
        <div class="col-xs-4 col-md-2">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkAll" name="checkAll" [(ngModel)]="checkAll" (change)="onCheck()">
          <label class="form-check-label" for="checkAll" >All tasks</label>
        </div>
      </div>
        <div class="col-xs-2 col-md-2">
          <button type="button" class="btn btn-info" (click)="onShow(optionsModel)">Show history</button>
        </div>
        </div>
       
      </div> 
  </div>
<div class="row"><div class="col-xs-12"></div></div>
  <hr style="border-color:rgb(180, 214, 245)">
  <div class="row">

    <div class="col-xs-12 col-md-12">
      <div class="container">

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Task name</th>
                <th>StartDate</th>
                <th>Response Body</th>
                <th>Response Status</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let history of myHistory.models |search:mySearch">
                <td>
                  <a [routerLink]="['details' ]">{{history.taskName}} </a>
                </td>
                <td>{{history.StartDate}}</td>
                <td>{{history.ResponseBody}}</td>
                <td>{{history.ResponseStatus}}</td>
                <td>{{history.Duration}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-primary" (click)="onNext()"  id ="next" style="display:none">Next Page</button>
      </div>
    </div>

  </div>
  <!--
<div class="row">
  <div class="col-xs-2">
      <button type="button" class="btn btn-secondary" (click) = "onBack()">Back</button>
  </div>
</div>
-->
</div>