.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: white!important;
}
li {
    color: #bd2130!important;
    background-color: white!important;
    margin-right: 7px;
}
a {
    color: #bd2130!important;
    margin-right: 7px;
}
a.dropdown-item{
    color: #fff;
    text-decoration: none;
    background-color: white!important;
}
a:active  {
    color: #bd2130!important;
    margin-right: 7px;
}
a:visited  {
    color: #bd2130!important;
    margin-right: 7px;
}