/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #ddd;   
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
th{
    border-right: 1px solid #ddd;
}
  .mybtn{  
    width:70px;
    color: #176da0;
    /*
    font-family: IBMPlexSans-Light;
     font-size: 15px;
    */
   
   
    margin-bottom: 10px;
    margin-right: 10px;

  }
 .mybtn.mybtn-action{
    background-color: #16608b;
    border-color: #176da0;
    color: #fff;  
}
  .mybtn:hover {
    background-color: #176da0;
    border-color: #176da0;
    color: #fff;
  }
  a{color: #176da0;}
.bg-color {
    background-color: #176da0;
    color: #fff;
    padding: 15px 0;   
}

html {
    font-family: sans-serif;  
}

.breadcrumb {
    background-color: transparent;
    font-family: IBMPlexSans-Text;
    font-size: 16px;
    margin: 20px 0;
    padding: 0;
}
.breadcrumb > li + li::before {
    padding: 0;
}
a {
   
    margin-right: 7px;
}
a:hover {
  
    text-decoration: underline;
}

body, html {
    font-family: IBMPlexSans-Regular;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: white!important;
}
.mybadge{
    margin-left:8px;
    margin-bottom:5px;
}

