
<div class="row">
    <div class="col-sm-6 col-md-4 col-xs-9">
      <div class="input-group pull-left">
        <input type="search" [(ngModel)]="mySearch" class="form-control" placeholder="search..." (keyup)="onEnter(mySearch)">
        <!--
        <span class="input-group-btn">
          <button class="btn" type="button" (click)="onSearch()">
            <i class="fa fa-search" aria-hidden="true"></i> 
          </button>
        </span>
     -->
      </div>
    </div>
    <div class="col-xs-3 col-sm-6 col-md-8" >
        <a class="btn btn-primary add-btn pull-right"  href="/new">
        <span class="hidden-xs">Add New</span>
        <span class="visible-xs glyphicon glyphicon-plus" ></span>
        </a>
        </div>
  </div>
  <br>
